/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  padding:0;
 
}


@media (min-width: 200px) {
  .team {
      grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 430px) {
  .team {
    
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

